<% content_for :header do %>
    Proformas
<% end %>

<div class="tab-content">
  <div id="search_proformas_tab" class="tab-pane fade in active">
    <div>
      <%= render 'search'%>
    </div>
  </div>
</div>