<h1>Newly Imported Items Listing</h1>
<% if @duplicate_items && !@duplicate_items.empty?%>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#duplicate_items_modal">
        Edit Duplicate Items
    </button>
<% end %>
<br><br>

<%= render 'listing', {items: @items, actions: "listing_actions"} %>

<br>

<% if @duplicate_items && !@duplicate_items.empty?%>
    <div class="modal fade" data-duplicate="true" id="duplicate_items_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Found <%= @duplicate_items.count %> Duplicate Items</h4>
          </div>
          <div class="modal-body">
            <%= render 'edit_listing', {items: @duplicate_items, actions:"importing_actions"} %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<% end %>