<div class="btn-group btn-block">
  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions <span class="caret"></span>
  </button>
  <div class="container transfer-item dropdown-menu">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 menu-item">
            <%= button_tag('Save', type: 'submit', class: 'btn btn-block btn-info btn-sm fa fa-save action pop_up') %>
          </div>
          <div class="col-sm-6 menu-item">
            <%= button_tag('Transfer', type: 'submit', class: 'btn btn-block btn-success btn-sm fa fa-exchange pop_up', data:{action: submit_transfer_path(@transfer)})%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>