<div class="btn-group">
  <a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
    Actions <span class="fa fa-caret-down"></span>
  </a>
  <ul class="dropdown-menu context-menu">
    <li>
      <a class='btn-primary item-pop-up-menu form-submit' href="">
        <i class="fa fa-save"></i> Save
      </a>
    </li>
    <li>
      <a class='btn-success item-pop-up-menu form-submit' href="" data-action="<%= submit_transfer_path(@transfer)%>">
        <i class="fa fa-exchange"></i> Transfer
      </a>
    </li>
  </ul>
</div>