<div class="container-fluid">
  <div class="row">
    <%= form_tag transfers_searches_path, method: :get, remote: true, id: :transfers_search_form do %>
        <div class="col-xs-2">
          <div class="input-group">
            <label for="from_store_id">Invoice #</label>
            <input name="query[id]" id="id" class="form-control" onchange="$(this).trigger('submit.rails')"/>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="input-group">
            <label for="from_store_id">From Store</label>
            <%= select_tag 'query[from_store_id]',
                           content_tag(:option,'select one...',:value=>"") + options_from_collection_for_select(Store.active, "id", "name"),
                           class: 'form-control', onchange: "$(this).trigger('submit.rails')" %>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="input-group">
            <label for="to_store_id">To Store</label>
            <%= select_tag 'query[to_store_id]',
                           content_tag(:option,'select one...',:value=>"") + options_from_collection_for_select(Store.active, "id", "name"),
                           class: 'form-control', onchange: "$(this).trigger('submit.rails')" %>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="input-group">
            <label for="date_from">Date From</label>
            <input name="query[date_from]" id="date_from" class="form-control datepicker" onchange="$(this).trigger('submit.rails')"/>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="input-group">
            <label for="date_to">Date To</label>
            <input name="query[date_to]" id="date_to" class="form-control datepicker" onchange="$(this).trigger('submit.rails')"/>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="input-group">
            <label for="status">Status</label>
            <%= select_tag 'status', options_for_select(['']+Transfer.get_all_states,''), {class:'form-control',name:'query[status]',onchange: "$(this).trigger('submit.rails')"} %>
          </div>
        </div>
    <% end %>
  </div>
  <br>
  <div class="row">
    <div id="transfers_search_results" class="col-xs-12">
      No Results
    </div>
  </div>
</div>