<% content_for :header do %>
    Transfers
<% end %>

<div class="tab-content">
  <div id="search_transfers_tab" class="tab-pane fade in active">
    <div>
      <%= render 'search'%>
    </div>
  </div>
</div>