// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.actions {
  margin-left: 5px;
  margin-right: 5px;
}
.pagination > li > a:visited{
  color: #337ab7!important;
}
td.actions{
  width: 28%;
}

.modal .modal-body {
  max-height: 630px;
  overflow-y: auto;
}

#duplicate_items_modal > .modal-dialog{
  width: 55%;
}

.price{
  width: 100px !important;
}

.right-align{
  text-align: right;
}

td.location{
  padding-left: 15px;
}

.default_sale_price{
  color: darkblue;
}

#transaction_log > ul > li {
  margin-bottom: 0px;
}

#transaction_log > ul > li.active {
  padding-top: 3px;
  font-weight: bold;
}

#transaction_log > div.tab-content {
  border-top-width: 1.205px;
  border-style: solid;
}

table.transaction_log {
  margin-bottom: 0px;
}