// Place all the styles related to the Sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.line_number{
  float: right;
  text-align: right;
  font-size: 16px;
}
td.grand_total, td.total{
  text-align: right;
  font-size: 16px;
}

span.selected-ac-close {
  cursor: pointer;
  background-color: #3C3C3C;
}

.returned_sale{
  color: #ff4f5a;
}

.inventory {
  display: inline-block;
}

tr.VOID{
  background-color: #fcffc8 !important;
}

#fs_num_modal {
  width: 20% !important;
  margin-top: 4% !important;
  margin-left: 40% !important;
}